<div class="panel panel-default">
    <div class="panel-body">
    <button class="btn btn-inverse" data-bind="click: goBack"> <i class="glyphicon glyphicon-hand-left icon-white"></i> Back</button>
    <button
    class="btn btn-inverse" data-bind="click: cancel, enable: canSave"> 
        <i class="glyphicon glyphicon-repeat icon-white"></i> Cancel</button>
        <button 
        class="btn btn-primary" data-bind="click: save, enable: canSave"> 
            <i class="glyphicon glyphicon-floppy-disk icon-white"></i> Save</button> <i class="glyphicon glyphicon-asterisk icon-red"
            data-bind="visible: hasChanges"></i>
            <button class="btn btn-danger pull-right"
            data-bind="click: deleteOrder, disable: hasChanges"> <i class="glyphicon glyphicon-trash icon-white"></i> Delete</button>
</div></div>