<div class="messageBox autoclose" style="max-width: 600px; width:500px;">
    <div class="modal-header text-center">
        	<h3>Edit Billing Address</h3>
    </div>
    <div class="modal-body" data-bind="with: customer">
        <form class="form-horizontal " accept-charset="utf-8">
            <div class="form-group">
                <label class="control-label col-lg-5">Billing Name</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: CompanyName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Street Address</label>
                <div class="col-lg-7">
                    <input class="form-control" placeholder="Street Name and/or apartment number" type="text" data-bind="value: Address"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">City</label>
                <div class="col-lg-7">
                    <input class="form-control" placeholder="" type="text" data-bind="value: City" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Zip Code</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: PostalCode" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">State/Region</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: Region" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Country</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: Country" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer text-center">
        <div class="text-center">
            <button class="btn btn-primary" data-bind="click: closeDialog">Close</button>
        </div>
    </div>
</div>