<table class="table table-bordered table-edit table-striped">
    <thead>
        <tr class="info">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: order().OrderDetails">
        <tr data-bind="css: { danger: !isValid() }">
            <td>
                <select class="form-control input-xlarge"
                     data-bind="options: $root.productsLookup,
                                optionsText: 'ProductName',
                                optionsValue: 'ProductID',
                                value: ProductID,
                                optionsCaption: 'Choose...'">
                </select>
            </td>
            <td>
                <input type="text" class="form-control input-mini text-right" 
                    data-bind="value: UnitPrice, valueUpdate: 'afterkeydown'" />
            </td>
            <td>
                <input type="text" class="form-control input-mini text-right" 
                    data-bind="value: Quantity, valueUpdate: 'afterkeydown'" />
            </td>
            <td>
                <div class="text-right" data-bind="text: rowtotal.formatted"></div>
            </td>
            <td>
                <button class="btn btn-sm btn-default pull-right" 
                    data-bind="click: $root.deleteOrderLine">
                    <i class="glyphicon glyphicon-remove icon-red icon-large"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <button class="btn btn-success pull-left" 
                    data-bind="click: addOrderLine">
                    <i class="glyphicon glyphicon-plus icon-white"></i>Add Line
                </button>
                <div
                    class="text-right muted">
                    <strong>Grand Total: </strong>
                </div>
            </td>
            <td>
                <div class="text-right">
                    <strong data-bind="text: order().grandtotal.formatted"></strong>
                </div>
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
