<div class="messageBox autoclose" style="max-width: 600px; width:500px;">
    <div class="modal-header text-center">
        	<h3>Edit Shipping Address</h3>
    </div>
    <div class="modal-body" data-bind="with: order">
        <form class="form-horizontal" role="form" accept-charset="utf-8">
            <div class="form-group">
                <label class="control-label col-lg-5">Shipping Name</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: ShipName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Street Address</label>
                <div class="col-lg-7">
                    <input class="form-control" placeholder="Street Name and/or apartment number" type="text" data-bind="value: ShipAddress"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">City</label>
                <div class="col-lg-7">
                    <input class="form-control" placeholder="" type="text" data-bind="value: ShipCity" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Zip Code</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: ShipPostalCode" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">State/Region</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: ShipRegion" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-5">Country</label>
                <div class="col-lg-7">
                    <input class="form-control" type="text" data-bind="value: ShipCountry" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer text-center">
        <div class="text-center">
            <button class="btn btn-primary" data-bind="click: closeDialog">Close</button>
        </div>
    </div>
</div>