<div class="container-fluid">
    <div class="form-actions">
        <button class="btn btn-inverse"
            data-bind="click: goBack"><i class="icon-hand-left icon-white"></i> Back</button>
        <button class="btn btn-inverse"
            data-bind="click: cancel, enable: canSave"><i class="icon-undo icon-white"></i> Cancel</button>
        <button class="btn btn-primary"
            data-bind="click: save, enable: canSave"><i class="icon-save icon-white"></i> Save</button>
        
        <i class="icon-asterisk icon-red" data-bind="visible: hasChanges"></i>
        
        <button class="btn btn-danger pull-right"
            data-bind="click: deleteOrder, disable: hasChanges"><i class="icon-trash icon-white"></i> Delete
        </button>
    </div>

    <div class="row-fluid" data-bind="with: order">
        <input type="text" data-bind="value: OrderID" />
        <input type="text" data-bind="value: OrderDate" />
        <input type="text" data-bind="value: RequiredDate" />
        <input type="text" data-bind="value: ShippedDate" />
        <input type="text" data-bind="value: Freight" />
        <input type="text" data-bind="value: ShipName" />
        <input type="text" data-bind="value: ShipAddress" />
        <input type="text" data-bind="value: ShipCity" />
        <input type="text" data-bind="value: ShipRegion" />
        <input type="text" data-bind="value: ShipPostalCode" />
        <input type="text" data-bind="value: ShipCountry" />
    </div>
    <div class="row-fluid">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: order().OrderDetails">
                <tr>
                    <td style="padding-left:0;">
                        <select data-bind="options: $root.productsLookup, optionsText: 'ProductName', optionsValue: 'ProductID', value: ProductID, optionsCaption: 'Choose...'"></select>
                    </td>
                    <td>
                        <input type="number" class="input-mini" data-bind="value: UnitPrice" />
                    </td>
                    <td>
                        <input type="text" class="input-mini" data-bind="value: Quantity" />
                    </td>
                    <td>
                        <input type="text" class="input-mini" data-bind="value: Discount" />
                    </td>
                    <td></td>
                    <td>
                        <a class="btn btn-sm" href="#"><i class="icon-remove icon-red"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button data-bind='click: addOrderLine'>Add Line</button>
    </div>
</div>